:root{
    --cor-fundo: #fd1010;
    --cor-principal: #2aeb03;
    --cor-secundaria: #ffffff;
    --cor-texto: #f7f30f;
    --cor-destaque:#11b3db;


}
body{

background-color: var(--cor-fundo);
color :var(--cor-textto);
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}